<div class="flex justify-between">
  <h4 class="font-semibold text-xl mb-2">Child</h4>
  <button class="bg-black rounded px-3 py-2 text-white text-sm font-semibold mb-2" (click)="onSetData()"
    type="button">Set
    Data to State</button>
</div>
<div class="mt-3">
  <div class="">
    <div class="flex justify-between items-center text-white bg-gray-600 p-3 rounded-t-xl">
      <span>JSON Scheme:</span>
    </div>
    <pre class="text-white bg-gray-800 rounded-b-xl">
      <code>
        {{ '{' }}
            "OrderId":1,
            "CusId":1,
            "CusName":"Aung Aung",
            "CusPhone":"09123",
            "Township":"",
            "Date":"2024-09-30",
            "Discount":0,
            "NetTotal":0,
            "PaymentType":"",
            "Total":0
        {{ '}' }}
      </code>
    </pre>
  </div>
</div>
